@font-face {
  font-family: 'CityLightExtended';
  src: url('/static/fonts/CityLightExtended-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'CityLightExtended', monospace;
  color: #00FF7F;
  background: black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background: transparent;
  border: none;
  outline: none;
  color: #00FF7F;
  padding: 40px 80px;
  font-size: 6em;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
