@font-face {
  font-family: 'Berthold City Light';
  src: url('fonts/CityLightExtended-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'City Mono Extended';
  src: url('fonts/CityLightExtended-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Berthold City Light', 'City Mono Extended', monospace;
  color: #00FF7F;
  background: black;
  text-transform: uppercase;
}

button {
  background: transparent;
  border: 2px solid #00FF7F;
  color: #00FF7F;
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
